:root {
	--theme-background: #f2f2f2;
	--theme-content: #595959;
	--theme-accent: #a5a5a5;
	--theme-accentDark: #7f7f7f;
	--theme-accentLight: #cccccc;
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme-background: #040404;
		--theme-content: #727272;
		--theme-input: #999999;
		--theme-accent: #252525;
		--theme-accentDark: #1a1a1a;
		--theme-accentLight: #505050;
	}
}

html,
body {
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--theme-background);
	overflow-x: hidden;
}

main {
	padding: 1em 5%;
}

h1,
label,
input,
p {
	font-family: 'Roboto', sans-serif;
}

h1,
p,
label {
	color: var(--theme-content);
	font-weight: bold;
}

input {
	background-color: var(--theme-accentDark);
	border: 3px solid var(--theme-accent);
	padding: 0.3em 0.5em;
	color: var(--theme-input);
	font-weight: 900;
	letter-spacing: -0.05em;
}

.controls {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
	gap: 1em;
	width: 100%;
}

.input {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}
